.navwrapper {
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;
  padding: 20px;
}

.avatar,
.avatar img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.userName {
  margin-left: 1rem;
  color: #999;
}
